{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="baidu-site-verification" content="axzaiwslsh" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/fontawesome.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="icon" href="/media/icons/icons8-around-the-globe-512.png" type="images/png" />
        <title>RBP</title>
        <!-- highlight when search -->
        <style>
            span.highlighted {
                color: red;
            }
        </style>
    </head>
    <body>

      <div class="content container-fluid">
          <h4 class="text-center" style="color: red; margin: 20px;">你所有的访问和操作都会被记录，请谨慎！</h4>
        {% block content %}
        {% endblock %}
      </div>

    <script>$.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});</script>
    </body>
</html>
