{% extends 'record/base.html' %}

{% block content %}
<h5 class="text-center" style="margin: 20px;">如需要观看页面中视频证据，请使用电脑浏览</h5>
<hr width="60%" style="border:2px solid #BDB76B;"/>
<div class="row" style="margin: 20px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
         <table name="capture-table" class="table table-sm table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" widht="30%"></th>
                    <th scope="col" width="70%"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col"><b>姓名</b></td>
                    <td scope="col">{{ person.name }}</td>
                </tr>
                <tr>
                    <td scope="col"><b>性别</b></td>
                    {% if person.gender == 'M' %}
                    <td scope="col">男</td>
                    {% elif person.gender == 'F' %}
                    <td scope="col">女</td>
                    {% endif %}
                </tr>
                <tr>
                    <td scope="col"><b>出生日期</b></td>
                    <td scope="col">{{ person.dob }}</td>
                </tr>
                <tr>
                    <td scope="col"><b>身份证号</b></td>
                    <td scope="col">{{ person.id_num }}</td>
                </tr>
                <tr>
                    <td scope="col"><b>别名</b></td>
                    <td scope="col">
                        {% for a in alias_name %}
                          {{a.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>职业</b></td>
                    <td scope="col">
                        {% for c in career %}
                          {{c.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>地址</b></td>
                    <td scope="col">
                        {% for a in address %}
                          {{a.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>电话号码</b></td>
                    <td scope="col">
                        {% for p in phone %}
                          {{p.num}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>学校</b></td>
                    <td scope="col">
                        {% for s in school %}
                          {{s.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>公司</b></td>
                    <td scope="col">
                        {% for c in company %}
                          {{c.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>QQ</b></td>
                    <td scope="col">
                        {% for q in qq %}
                          {{q.num}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>微信</b></td>
                    <td scope="col">
                        {% for w in wechat %}
                          {{w.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>支付宝</b></td>
                    <td scope="col">
                        {% for a in alipay %}
                          {{a.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>微博</b></td>
                    <td scope="col">
                        {% for w in weibo %}
                          {{w.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>邮件</b></td>
                    <td scope="col">
                        {% for e in email %}
                          {{e.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>抖音</b></td>
                    <td scope="col">
                        {% for d in douyin %}
                          {{d.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>闲鱼/淘宝/旺旺</b></td>
                    <td scope="col">
                        {% for x in xianyu %}
                          {{x.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>百度</b></td>
                    <td scope="col">
                        {% for b in baidu %}
                          {{b.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>其他账户</b></td>
                    <td scope="col">
                        {% for oa in other_account %}
                          {{oa.name}} ; </br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>标签</b></td>
                    <td scope="col">
                        {% for t in person.tag.all %}
                          <span class="badge badge-info">{{ t.name }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="col"><b>简要说明</b></td>
                    <td scope="col">{{ person.brief|safe }}</td>
                </tr>
                <tr>
                    <td scope="col"><b>详细说明</b></td>
                    <td scope="col">{{ person.detail|safe }}</td>
                </tr>
            </tbody>
        </table>
        <hr width="30%" style="border:2px #BDB76B;"/>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}
