{% extends 'record/base.html' %}

{% block content %}
<div class="row" style="margin: 20px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="search-container" style="margin: 0px 20px; padding: 10px;">
            <h5>{{own_ip}}</h5><br/>
            <form action="{% url 'person_list' %}" method="post">
                {% csrf_token %}
            <label for="identification">Identity：</label><br>
            <input id="identification" type="text" name="id-number" value="{{ identification }}" class='form-control mr-sm-2' required="true" placeholder='ID' style="width:200px;"><p></p>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">查看</button>
            {% if request.session.validate_error %}
            <p style="color:red">{{request.session.validate_error}}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<hr width="60%" style="border:2px solid #BDB76B;"/>
<div class="row" style="margin: 20px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
         <table name="capture-table" class="table table-sm table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" widht="30%">name</th>
                    <th scope="col" width="70%">brief</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for bp in person %}
                    <td scope="col">{{ bp.name }}</td>
                    <td scope="col">{{ bp.brief }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <hr width="30%" style="border:2px #BDB76B;"/>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}
